.About {
    text-align: center;
    background-image: url("./images/cyborg.jpg"); /* Corrected image path */
    background-size: cover;
    height: 95vh; /* Ensure full-screen coverage */
    font-size: xx-large;
    color: orangered;
    display: flex; /* Enable flex mode */
    flex-direction: column; /* Stack children vertically */
}

.PLeft {
    text-align: left;
    color: blue;
}
.label {
    background-color: #eac040; /* Light orange color */
    opacity: 0.75; /* 75% opacity */
    color: #333; /* Dark text color for better readability */
    padding: 10px; /* Add some padding for spacing */
    margin-top: 20px; /* Add space above the label */
    display: inline-block; /* Make the label fit its content width */
    width: -moz-fit-content; /* Adjust width to fit the text */
    width: fit-content;
}