.Contact {
    text-align: center;
    background-image: url("./images/desktop.jpg"); /* Corrected image path */
    background-size: cover;
    height: 95vh; /* Ensure full-screen coverage */
    font-size: xx-large;
    color: red;
}

.label {
    /* background-color: #eac040; Light orange color */
    /* color: #333; Dark text color for better readability */
    opacity: 0.75; /* 75% opacity */
    padding: 10px; /* Add some padding for spacing */
    margin-top: 20px; /* Add space above the label */
    display: inline-block; /* Make the label fit its content width */
    width: -moz-fit-content; /* Adjust width to fit the text */
    width: fit-content;
}